.DS_Store
BeatTheBox.xcodeproj/project.xcworkspace/contents.xcworkspacedata
BeatTheBox.xcodeproj/project.xcworkspace/xcuserdata/grav.xcuserdatad/UserInterfaceState.xcuserstate
BeatTheBox.xcodeproj/project.xcworkspace/xcuserdata/grav.xcuserdatad/xcdebugger/Expressions.xcexplist
BeatTheBox.xcodeproj/xcuserdata/grav.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
BeatTheBox.xcodeproj/project.xcworkspace/xcuserdata/grav.xcuserdatad/WorkspaceSettings.xcsettings